body {
    background-color: #181818;
}

#editor {
    font-family: 'Consolas', monospace;
    background-color: #1F1F1F;
    color: #d4d4d4;
    padding: 16px;
    margin: 16px;
    height: 100%;
}

.editor-line {
    line-height: 1.5;
    padding: 0 5px;
}

.editor-line:focus {
    outline: dashed #282828;
}

.text-area {
    height: 100%;
}